
body {
    background: linear-gradient(to bottom, #020923 10%, #000411 20%, #2f2b75 86%);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #000;
}


.hero {
    background-image: linear-gradient(to bottom, rgba(3, 0, 16, 0) 1%, hsl(227, 92%, 10%) 90%), url(https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FDreQuan_Priest_landscape.9070b529.jpg&w=3024&q=75);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.navigation a.active {
    color: white;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 5px;
    animation: borderslide 0.5s ease-in-out;
}

td:hover a.active {
    color: black;
    border-bottom: 2px solid black;
}


.navigation table {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 2px solid rgb(223, 113, 201);
}

td {
    padding: 10px 20px;
}

a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

td:hover {
    transform: scale(1.2);
    background-color: cyan;
    cursor: pointer;
    transition: 0.5s;
}

td:hover a {
    color: black;
}

td.buy {
    padding: 10px 20px;
    border-collapse: collapse;
}

td.buy:hover {
    transform: scale(1.2);
    background-color: yellow;
    box-shadow: goldenrod 0 0 10px;
    border-color: rgb(223, 113, 201);
    cursor: pointer;
    transition: 0.3s;
}

.logo {
    position: sticky;
    z-index: 0;
    top: 2vh;
    left: 2vh;
    opacity: 0.8;
}


.headpage {
    position: absolute;
    top: 65vh;
    left: 13vh;
    font-size: 30px;
    color: wheat;
    font-family: 'Roboto';
    animation: SlideIn 1s ease-in-out;
}

@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }}

.cyber-line1 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 4px;
    background: linear-gradient(to top, #62628e, transparent);
    opacity: 0.7;
}

.gallery-section {
    position: relative;
    top: 15vh;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 50px;
    margin-left: 25px;
    animation: FadeIn 2s ease-in;
    animation-timeline: view();
}

@keyframes FadeIn {
    0%{
        opacity: 0.2;
    }

    30% {
        opacity: 1;
    }
}

.gallery-section h2{
    position: absolute;
    left: 4vw;
    top: -20vh;
    font-size: 30px;
    font-family: "obrinton";
    color: #c7d8d8;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 12vh;
    margin-left: 4vw;
    
}

.gallery-item{
    background-color: rgb(29, 24, 40);
    width: 378px;
    font-family: 'Rajdhani';
    font-weight: 700;
    transition: 0.8s;
    margin-bottom: 35px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgb(131, 27, 235);
    
}

.gallery-item:hover{
    transform: scale(1.03);
    border: 4px solid wheat;
    box-shadow: 0 0 20px rgb(131, 27, 235);
}






footer {
    position: relative;
    height: 40vh;
    color: rgb(255, 255, 255);
    margin-top: 30vh;
    margin-bottom: 0;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    font-family: "Bebas Neue";
}

footer p {
    position: absolute;
    bottom: 3.5vh;
    left: 38%;
}

.foot1 p {
    position: absolute;
    left: 6vw;
    top: 8vh;
    color: #c7d8d8;
    font-weight: 600;
}

.fa-square-youtube {
    position: absolute;
    top: 5.25vw;
    left: 17vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-square-youtube:hover {
    transform: scale(1.2);
    color: #FF3D00;
    cursor: pointer;
}

.fa-square-facebook {
    position: absolute;
    top: 5.25vw;
    left: 21.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-square-facebook:hover {
    transform: scale(1.2);
    color: #1877F2;
    cursor: pointer;
}

.fa-x-twitter {
    position: absolute;
    top: 5.25vw;
    left: 26vw;
    color: cyan;
    transition: 0.2s;
    transition: 0.2s;
    font-size: 32px;
}

.fa-x-twitter:hover {
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.fa-instagram {
    position: absolute;
    top: 5.25vw;
    left: 30.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-instagram:hover {
    transform: scale(1.2);
    color: #C13584;
    cursor: pointer;
}

.fa-discord {
    position: absolute;
    top: 5.25vw;
    left: 35vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-discord:hover {
    transform: scale(1.2);
    color: #5865F2;
    cursor: pointer;
}

.fa-linkedin {
    position: absolute;
    top: 5.25vw;
    left: 40.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-linkedin:hover {
    transform: scale(1.2);
    color: #0483c7;
    cursor: pointer;
}

.fa-twitch {
    position: absolute;
    top: 5.5vw;
    left: 45vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-twitch:hover {
    transform: scale(1.2);
    color: rgb(145, 70, 255);
    cursor: pointer;
}

.line-foot1 {
    position: absolute;
    top: 19vh;
    left: 6vw;
    width: 90%;
    height: 4px;
    opacity: 0.7;
    background: linear-gradient(to top, #3f3f43, transparent);
}

.line-foot2 {
    position: absolute;
    top: 29vh;
    left: 6vw;
    width: 90%;
    height: 4px;
    opacity: 0.7;
    background: linear-gradient(to top, #3f3f43, transparent);
}

.terms a {
    font-family: Rajdhani;
    font-size: 20px;
    display: inline;
    margin-right: 30px;
    color: cyan;
    text-decoration: none;
    text-shadow: 0 0 3px rgb(161, 168, 173);
    cursor: pointer;
    white-space: nowrap;
}

.terms a:hover {
    color: rgb(255, 183, 0);
    cursor: pointer;
}

.terms {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 23vh;
    left: 6vw;
}

.footer-logo1 {
    position: absolute;
    top: 32vh;
    left: 10vw;
    background-color: rgb(251, 191, 0);
    transition: 0.3s;
}

.footer-logo1:hover {
    transform: scale(1.02);
    box-shadow: (0 0 15px #fbbf00);
    cursor: pointer;
}

.footer-logo2 {
    position: absolute;
    top: 0.5vh;
    left: 71vw;
}

.footer-logo3 {
    position: absolute;
    top: 6vh;
    border-right: 0.7px solid white;
    left: 85vw;}

@media screen and (max-width: 768px) {

    
    .headpage {
        top: 50%;
        left: 5%;
        font-size: 24px;
    }

    .navigation table {
        font-size: 12px;
    }

    .logo {
        height: 80px;
    }

    
    .gallery-grid {
        grid-template-columns: 1fr; 
        gap: 15px;
        margin-left: 0;
    }

    .gallery-item {
        max-width: 100%;
    }

    .gallery-section h2 {
        left: 5%;
        font-size: 24px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .headpage {
        top: 55%;
        left: 8%;
        font-size: 28px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin-left: 2vw;
    }

    .gallery-section h2 {
        left: 4vw;
        font-size: 28px;
    }
}


@media screen and (min-width: 1200px) {
    .headpage {
        font-size: 36px;
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}


@media screen and (max-width: 768px) {

    footer {
        height: auto;
        padding: 20px 10px;
        text-align: center;
    }

    .foot1 p {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .foot1 i {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 5px;
        font-size: 25px;
    }

    .footer-logos img {
        position: relative;
        top: 0;
        left: 0;
        margin: 5px;
        height: 50px;
        width: auto;
    }

    .line-foot1, .line-foot2 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 10px 0;
    }

    .terms {
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 10px;
    }

    .terms a {
        margin: 5px 0;
        font-size: 14px;
    }

    footer p {
        position: relative;
        bottom: 0;
        left: 0;
        font-size: 12px;
        margin-top: 15px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .foot1 p {
        font-size: 16px;
        left: 2vw;
    }

    .foot1 i {
        font-size: 28px;
        margin: 0 8px;
    }

    .footer-logos img {
        height: 60px;
        margin: 5px 10px;
    }

    .terms a {
        font-size: 16px;
        margin-right: 15px;
    }

    footer p {
        font-size: 14px;
    }

    .line-foot1, .line-foot2 {
        width: 95%;
        left: 2.5%;
    }
}


@media screen and (min-width: 1200px) {
    .foot1 p {
        font-size: 18px;
    }

    .foot1 i {
        font-size: 32px;
    }

    .footer-logos img {
        height: 80px;
    }

    .terms a {
        font-size: 18px;
        margin-right: 25px;
    }

    footer p {
        font-size: 16px;
    }
}

