
* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(to bottom, #041145, #0e173c 30%, #5853b8 96%);
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #000;
}


h1 {
    font-family: pricedown, sans-serif;
    font-size: 72px;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, #0e173c 100%),
        url("https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FJason_and_Lucia_01_landscape.0e2a6544.jpg&w=3024&q=75");
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;

}

.logo {
    position: sticky;
    z-index: 0;
    top: 2vh;
    left: 2vh;
    opacity: 0.8;
}

.navigation {

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.navigation a.active {
    color: white;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 5px;
    animation: borderslide 0.5s ease-in-out;
}

td:hover a.active {
    color: black;
    border-bottom: 2px solid black;
}




.navigation table {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 2px solid rgb(223, 113, 201);
}

td {
    padding: 10px 20px;
}

a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

td:hover {
    transform: scale(1.2);
    background-color: cyan;
    cursor: pointer;
    transition: 0.3s;
}

td:hover a {
    color: black;
}

td.buy {
    padding: 10px 20px;
    border-collapse: collapse;
}

td.buy:hover {
    transform: scale(1.2);
    background-color: yellow;
    box-shadow: goldenrod 0 0 10px;
    border-color: rgb(223, 113, 201);
    cursor: pointer;
    transition: 0.3s;
}

.hero h2 {
    font-family: "Audiowide";
    text-shadow: #000 2px 2px 10px;
    color: white;
    text-align: center;
    position: absolute;
    right: 27vw;
    top: 38vh;
    font-size: 3.2vw;
    animation: SlideInh2 0.9s ease-in;
    transform: translateZ(0px);
}

@keyframes SlideInh2 {
    0% {
        transform: translateZ(-200px);
        opacity: 0;
    }

    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

.play-button {
    transition: 0.5s;
    position: absolute;
    top: 48vh;
    left: 42vw;
    font-family: Jacques Francois Shadow;
    border: #00ffff 3px solid;
    border-radius: 15px;
    padding: 1.2vh 2vw;
    font-size: 1.3vw;
    color: #00ffff;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(223, 113, 201);
    border: none;
}



.play-button:hover {
    background-color: rgb(241, 238, 234);
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 20px #000;
    border: #000 3px solid;
}

.hero p {
    position: absolute;
    bottom: 35px;
    left: 70px;
    width: 800px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat;
    text-shadow: 4px 4px 8px #000000;
}

.info {
    padding: 50px;
    text-align: center;
    color: white;
    font-family: 'Kumar One', sans-serif;
    border-radius: 20px;
    margin: 0;
    height: 55vh;
}

.info h2 {
    position: absolute;
    color: rgb(223, 113, 201);
    font-family: Bebas Neue;
    text-shadow: 8px 8px 8px black;
    font-size: 30px;
    left: 4vw;
    top: 103vh;
}


.post1 {
    position: relative;
    top: 9vh;
    left: 1vw;
    border: 8px solid wheat;
    margin-bottom: 20px;
    transition: 0.3s;
    transform: rotate(-5deg);
    z-index: 10;
    width: 25.9vw;
    height: 25.1vh;
}

.post1:hover {
    box-shadow: 0 0 45px rgb(230, 26, 226);
    transform: scale(1.05);
}

.name1 {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    font-weight: bold;
    font-family: 'Rubik 80s Fade';
    z-index: 5;
    transition: 0.3s;
    opacity: 0;
}

.post1:hover .name1 {
    bottom: -13%;
    /* z-index: 1; */
    opacity: 1;
    font-size: large;
    color: cyan;
    background-color: rgba(0, 0, 0, 0.6);
}


.post2 {
    position: relative;
    top: -21vh;
    left: 33vw;
    border: 8px solid wheat;
    transition: 0.3s;
    transform: rotate(-5deg);
    z-index: 10;
    width: 26.3vw;
    height: 25.1vh;
}

.post2:hover {
    box-shadow: 0 0 45px rgb(230, 26, 226);
    transform: scale(1.05);
}

.name2 {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    font-weight: bold;
    font-family: 'Rubik 80s Fade';
    z-index: 5;
    transition: 0.3s;
    opacity: 0;
}

.post2:hover .name2 {

    bottom: -13%;
    z-index: 1;
    opacity: 1;
    font-size: large;
    color: cyan;
    background-color: rgba(0, 0, 0, 0.6);
}

.post3 {
    position: relative;
    top: -48vh;
    left: 65vw;
    border: 8px solid wheat;
    transition: 0.3s;
    transform: rotate(-5deg);
    z-index: 10;
    width: 26.3vw;
    height: 25.1vh;
}

.post3:hover {
    box-shadow: 0 0 45px rgb(230, 26, 226);
    transform: scale(1.05);
}

.name3 {
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    font-weight: bold;
    font-family: 'Rubik 80s Fade';
    z-index: 5;
    transition: 0.3s;
    opacity: 0;
}

.post3:hover .name3 {

    bottom: -13%;
    z-index: 1;
    opacity: 1;
    font-size: large;
    color: cyan;
    background-color: rgba(0, 0, 0, 0.6);
}

.post {
    animation: FadeIn2 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry -10% cover 60%;
}

@keyframes FadeIn2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.map {
    position: relative;
    margin: 0;
}

.map h2 {
    position: absolute;
    text-shadow: 8px 8px 8px black;
    color: rgb(223, 113, 201);
    font-family: Bebas Neue;
    font-weight: 800;
    font-size: 40px;
    top: -33vh;
    left: 25.5%;
}

.map1 {
    position: absolute;
    left: 17.25vw;
    top: -22vh;
    transition: 0.3s;
}

.map1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(255, 1, 204);
}


.map2 {
    position: absolute;
    left: 48.5vw;
    top: -22vh;
    transition: 0.3s;
}

.map2:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(255, 1, 204);
}

.map3 {
    position: absolute;
    left: 17.25vw;
    top: 16vh;
    transition: 0.3s;
}

.map3:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(255, 1, 204);
}

.map4 {
    position: absolute;
    left: 48.5vw;
    top: 16vh;
    transition: 0.3s;
}

.map4:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(255, 1, 204);
}

.map{
    animation: FadeInmap 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry -40% cover 55%;
}

@keyframes FadeInmap {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }}


.cyber-line1 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to top, rgb(44, 44, 44), transparent);
    z-index: -1;
}

.cyber-line2 {
    position: absolute;
    top: 153vh;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to top, rgb(46, 52, 107), transparent);
    z-index: -1;
}

.cyber-line3 {
    position: absolute;
    top: 243vh;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0.7;
    background: linear-gradient(to top, #6e68db, transparent);
    z-index: -1;

}



.outro h2 {
    position: absolute;
    top: 247vh;
    font-family: Rajdhani;
    color: cyan;
    left: 21%;
    text-shadow: 0 0 10px black;
    animation: fadeInoh2 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes fadeInoh2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.outro p {
    position: absolute;
    top: 256vh;
    left: 21%;
    color: wheat;
    font-size: 18px;
    font-family: Orbitron;
    text-shadow: 0 0 3px black;
    animation: FadeInop 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes FadeInop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



footer {
    position: relative;
    height: 40vh;
    color: rgb(255, 255, 255);
    margin-top: 100vh;
    margin-bottom: 0;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    font-family: "Bebas Neue";
}

footer p {
    position: absolute;
    bottom: 5vh;
    left: 38%;
}

.foot1 p {
    position: absolute;
    left: 6vw;
    top: 10vh;
    color: #c7d8d8;
    font-weight: 600;
}

.fa-square-youtube {
    position: absolute;
    top: 5.25vw;
    left: 17vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-square-youtube:hover {
    transform: scale(1.2);
    color: #FF3D00;
    cursor: pointer;
}

.fa-square-facebook {
    position: absolute;
    top: 5.25vw;
    left: 21.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-square-facebook:hover {
    transform: scale(1.2);
    color: #1877F2;
    cursor: pointer;
}

.fa-x-twitter {
    position: absolute;
    top: 5.25vw;
    left: 26vw;
    color: cyan;
    transition: 0.2s;
    transition: 0.2s;
    font-size: 32px;
}

.fa-x-twitter:hover {
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.fa-instagram {
    position: absolute;
    top: 5.25vw;
    left: 30.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-instagram:hover {
    transform: scale(1.2);
    color: #C13584;
    cursor: pointer;
}

.fa-discord {
    position: absolute;
    top: 5.25vw;
    left: 35vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-discord:hover {
    transform: scale(1.2);
    color: #5865F2;
    cursor: pointer;
}

.fa-linkedin {
    position: absolute;
    top: 5.25vw;
    left: 40.5vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-linkedin:hover {
    transform: scale(1.2);
    color: #0483c7;
    cursor: pointer;
}

.fa-twitch {
    position: absolute;
    top: 5.5vw;
    left: 45vw;
    color: cyan;
    transition: 0.2s;
    font-size: 35px;
}

.fa-twitch:hover {
    transform: scale(1.2);
    color: rgb(145, 70, 255);
    cursor: pointer;
}

.line-foot1 {
    position: absolute;
    top: 19vh;
    left: 6vw;
    width: 90%;
    height: 4px;
    opacity: 0.7;
    background: linear-gradient(to top, #3f3f43, transparent);
}

.line-foot2 {
    position: absolute;
    top: 29vh;
    left: 6vw;
    width: 90%;
    height: 4px;
    opacity: 0.7;
    background: linear-gradient(to top, #3f3f43, transparent);
}

.terms a {
    font-family: Rajdhani;
    font-size: 20px;
    display: inline;
    margin-right: 30px;
    color: cyan;
    text-shadow: 0 0 3px rgb(161, 168, 173);
    cursor: pointer;
    white-space: nowrap;
}

.terms a:hover {
    color: rgb(255, 183, 0);
    cursor: pointer;
}

.terms {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 23vh;
    left: 6vw;
}

.footer-logo1 {
    position: absolute;
    top: 32vh;
    left: 10vw;
    background-color: rgb(251, 191, 0);
    transition: 0.3s;
}

.footer-logo1:hover {
    transform: scale(1.02);
    box-shadow: (0 0 15px #fbbf00);
    cursor: pointer;
}

.footer-logo2 {
    position: absolute;
    top: 0.5vh;
    left: 71vw;
}

.footer-logo3 {
    position: absolute;
    top: 6vh;
    border-right: 0.7px solid white;
    left: 85vw;
}


@media (max-width: 768px) {


    .hero h2 {
        font-size: 6vw;
        right: auto;
        left: 5%;
        top: 30%;
        text-align: left;
    }

    .hero p {
        width: 90%;
        left: 5%;
        bottom: 10%;
        font-size: 16px;
    }

    .play-button {
        left: 5%;
        top: 50%;
        font-size: 16px;
        padding: 10px 20px;
    }

    .post1, .post2, .post3 {
        position: static;
        width: 90%;
        height: auto;
        transform: rotate(0deg);
        margin: 20px auto;
    }

    .name1, .name2, .name3 {
        position: relative;
        bottom: 0;
        font-size: 18px;
    }

    .info h2 {
        position: static;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }


    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .map h2 {
        position: static;
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .map1, .map2, .map3, .map4 {
        position: static;
        width: 90%;
        max-width: 400px;
        height: auto;
        margin: 10px 0;
    }


    .outro h2, .outro p {
        position: static;
        text-align: center;
        width: 90%;
        margin: 20px auto;
        font-size: 20px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .hero h2 {
        font-size: 4.5vw;
        right: auto;
        left: 5%;
        top: 35%;
    }

    .hero p {
        width: 80%;
        left: 5%;
        bottom: 5%;
        font-size: 18px;
    }

    .play-button {
        left: 5%;
        top: 50%;
        font-size: 18px;
        padding: 12px 24px;
    }


    .post1, .post2, .post3 {
        position: relative;
        width: 45%;
        height: auto;
        margin: 20px 2.5%;
        display: inline-block;
    }

    .info h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .map {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .map1, .map2, .map3, .map4 {
        width: 45%;
        max-width: 400px;
        height: auto;
        margin: 10px 0;
    }

    .map h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }


    .outro h2, .outro p {
        text-align: center;
        width: 80%;
        margin: 20px auto;
        font-size: 22px;
    }
}



